body
{
    background: lightseagreen;
    color: teal;
}
span
{
    font-size: 30px;
    color: darkgray;
}
#camera, #result
{
    border: 2px dashed gray;
    width: 350px;
    height: 350px;
}
#result_hand_gesture_name, #result_hand_gesture_name2
{
    color: darkslategray;
}
.gesture_name
{
    font-size: 40px;
}
.gesture_emoji
{
    font-size: 48px;
}
.heading
{
    font-size: 18px;
    border-radius: 10px;
    letter-spacing: 10px;
}
label
{
    font-size: 14px;
    color: lightgreen;
    padding: 6px;
    border-radius: 10px;
    background: darkslateblue;
}